<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>263Microfinance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% load static %}
    <style>
        body {
            background-image: url("{% static 'images/background1.jpeg' %}");
        }
        
        h1 {
            color: aliceblue;
            text-align: center;
        }
        
        h2 {
            color: aliceblue;
            text-align: center;
        }
        
        h3 {
            color: aliceblue;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand disabled" href="#">263 MicroFinance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'show'%}">Home</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout ({{ user.username }})</a> {% else %}
                    <a class="nav-link" href="{% url 'mainpage'%}">Home</a>
                    <a class="nav-link" href="{% url 'login'%}">Login</a>
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a> {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to Home Page</h1>
    <h2>This will be the home page for 263 MicroFinance</h2>
    <br>
    <h3>Please login to proceed</h3>

    <!--<h3 style="text-align: center;">Add carosoel pictures/background</h3>-->
    <script src="" async defer></script>
</body>

</html>